{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "talk" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "ressources" }}
  {{ $show_authors_only = false }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "project" }}
  {{ $show_authors_only = true }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Summary }}
{{ end }}



<div class="media stream-item">
  <div class="media-body">
  




{{ if eq $item.Type "articles_rzine" }} 


{{ $taxonomy := "sources" }}
{{ with $item.Param $taxonomy }}
{{ $sources := partial "functions/get_sources" $ }}

{{- range $index, $value := . -}}
{{- if gt $index 0 }}, {{ end -}}
{{ $source := . }}

{{ if eq $source  "1"}}


<div style="display:flex;">   
    
  <div>
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="/site/img/Rzine_logo_simple.png" title="Documentation Rzine" width="30px" alt="">
    </a>
  </div>

    <div style="margin-left:10px;">
    <h3 class="article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </h3>
    </div>

</div>


{{ else }}


    <h3 class="article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </h3>

    
{{ end }} 


{{ end }} 
{{- end -}}

{{ end }}

{{ if eq $item.Type "post" }}

    <h3 class="article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </h3>

    
{{ end }} 















    {{ with $summary }}
    <div class="article-style">
      {{ . | truncate 170 }}
    </div>
    {{ end }}

    <div class="stream-meta article-metadata">

      {{ if eq $item.Type "talk" }}
      <div>
        <span>
          {{ partial "functions/get_event_dates" $item }}
        </span>
        {{ with $item.Params.location }}
        <span class="middot-divider"></span>
        <span>{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}

      {{ if and $show_authors_only $item.Params.authors }}
      <div>
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ else if not $show_authors_only }}
        {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
      {{ end }}
    </div>


    {{ if $show_buttons }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
    
 

    <div class="hidden">
    {{ partial "tags.html" . }}
    </div>
    
    <div class="hidden">
    {{ partial "thematics.html" . }}
    </div>  



    <div class="hidden">
    {{ partial "sources.html" . }}
    </div>    
    
   <div class="hidden">
    {{ partial "languages.html" . }}
    </div>  



  {{ with $item.Params.subtitle }}
   <div class="hidden">
  {{ . | markdownify | emojify }}
  </div>  
  {{end}}







  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image.RelPermalink }}" alt="">
    </a>
    {{end}}
  </div>
</div>
