{{ $is_list := .is_list }}
{{ $share := .share | default false }}
{{ $page := .page }}

<div class="article-metadata">

  {{/* If `authors` is set and is not empty. */}}
  {{ if $page.Params.authors }}
  {{ $authorLen := len $page.Params.authors }}
  {{ if gt $authorLen 0 }}
  <div>
  {{ partial "page_metadata_authors" $page }}
  </div>
  {{ end }}
  {{ end }}
  
<div class="space-below_BIS"></div>
  

  {{ if and (eq $page.Type "post") (not (or (eq site.Params.reading_time false) (eq $page.Params.reading_time false))) }}
  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ $page.ReadingTime }} {{ i18n "minute_read" }}
  </span>
  {{ end }}

  {{/* Show Disqus comment count if enabled. */}}
  {{ $disqus_enabled := eq site.Params.comments.engine 1 | and (index site.Params.comments.commentable $page.Type) | and (ne $page.Params.commentable false) | or $page.Params.commentable }}
  {{ if and $disqus_enabled (site.Params.comments.disqus.show_count | default true) }}
  <span class="middot-divider"></span>
  <a href="{{ $page.RelPermalink }}#disqus_thread"><!-- Count will be inserted here --></a>
  {{ end}}


  {{ $taxonomy := "publication_types" }}
  {{ with $page.Param $taxonomy }}
  {{ $pub_types := partial "functions/get_pub_types" $ }}

{{- range $index, $value := . -}}
{{- if gt $index 0 }} {{ end -}}
{{ $typ := . }}

{{ if eq $typ  "0"}}
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-purplebox"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
{{ else if eq $typ "1"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-saumon"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
{{ else if eq $typ "2"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-tealbox"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
{{ else if eq $typ "3"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-kaki"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
{{ else if eq $typ "4"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-mauve"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
{{ else if eq $typ "5"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-danger"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
{{ else if eq $typ "6"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-warning"   disabled><font size="2">
      {{ index $pub_types (int .) }} 
  </font></button>
  </span>
{{ else if eq $typ "7"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-black"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>
 {{ else if eq $typ "8"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-dark"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
  
  
   {{ else if eq $typ "10"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-info"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
  
  
  
     {{ else if eq $typ "11"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-primary3"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
  
  
     {{ else if eq $typ "12"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-pinkbox"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
  
  
     {{ else if eq $typ "13"}}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-success"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span> 
  
  
{{ else }}  
  <span class="article-categories">
    <button type="button" class="btn btn-sm btn-orangebox"   disabled><font size="2">
      {{ index $pub_types (int .) }}
  </font></button>
  </span>


       
{{ end }} 
{{- end -}}
  <span class="middot-divider"></span>
  {{ end }}




  {{ $taxonomy := "update" }}
  {{ with $page.Param $taxonomy }}
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
      {{ $maj := . }}

      {{ if eq $maj  "1"}}  

       <a class="infobulle"> 
       <i class="fas fa-edit"></i>
       <span><strong>Ressource susceptible d'être actualisée</strong></span> 
        </a>
      {{ end }}
      
    {{- end -}}

  {{ end }}




    {{ if not (in (slice "talk" "page") $page.Type) }}
 
 

  <span class="article-date">
    {{ $date := $page.Lastmod.Format site.Params.date_format }}
    {{ if eq $page.Type "ressources" }}
      {{ $date = $page.Date.Format "January, 2006" }}
      {{ index site.Data.mois (printf "%d" .page.Date.Month) }} {{ .page.Date.Year }}
 
     {{ else if eq $page.Type "articles_rzine" }}
      {{ $date = $page.Date.Format "January, 2006" }}
      {{ index site.Data.mois (printf "%d" .page.Date.Month) }} {{ .page.Date.Year }}
 
    {{ else }}
       {{ if ne $page.Params.Lastmod $page.Params.Date }} 
       {{ $date = $page.Date.Format "January, 2006" }}
      <!--  {{ i18n "last_updated" }} -->
       {{ .page.Date.Day }} {{ index site.Data.mois (printf "%d" .page.Date.Month) }} {{ .page.Date.Year }}
      
    {{ end }} 
  {{ end }}
    


  </span>


  {{ end }}


<!--
  {{ $taxonomy := "sources" }}
  {{ with $page.Param $taxonomy }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder-open mr-1"></i>
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
      <a href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{- end -}}
  </span>
  {{ end }}
--> 


  {{ $taxonomy := "thematics" }}
  {{ with $page.Param $taxonomy }}
  {{ $pub_tema := partial "functions/get_thematics" $ }}

  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder-open mr-1"></i>
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
    
         <a  href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ index $pub_tema (int .)}}</a>
         
      <!--
      Pour supprimer liens cliquables dans la liste des thematiques :
      Désactiver la ligne du dessus (227) et activer la suivante (231)
      {{ index $pub_tema (int .) }}
      --> 
      
      
    {{- end -}}
  </span>

  {{ end }}





<!--
  {{ if $share }}
    {{ partial "share.html" $page }}
  {{ end }}
--> 

</div>
