{{ $is_list := .is_list }}
{{ $share := .share | default false }}
{{ $page := .page }}

<div class="article-metadata">

  
<div class="space-below_BIS"></div>
  

  {{ if and (eq $page.Type "post") (not (or (eq site.Params.reading_time false) (eq $page.Params.reading_time false))) }}
  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ $page.ReadingTime }} {{ i18n "minute_read" }}
  </span>
  {{ end }}

  {{/* Show Disqus comment count if enabled. */}}
  {{ $disqus_enabled := eq site.Params.comments.engine 1 | and (index site.Params.comments.commentable $page.Type) | and (ne $page.Params.commentable false) | or $page.Params.commentable }}
  {{ if and $disqus_enabled (site.Params.comments.disqus.show_count | default true) }}
  <span class="middot-divider"></span>
  <a href="{{ $page.RelPermalink }}#disqus_thread"><!-- Count will be inserted here --></a>
  {{ end}}






    {{ if not (in (slice "talk" "page") $page.Type) }}
 
  <span class="article-date">
    {{ $date := $page.Lastmod.Format site.Params.date_format }}
    {{ if eq $page.Type "publication" }}
      {{ $date = $page.Date.Format "January 2, 2006" }}
    {{ else }}
       {{ if ne $page.Params.Lastmod $page.Params.Date }} 
       {{ $date = $page.Date.Format "January 2, 2006" }}

	  
	  
	  
       {{ end }} 
    {{ end }}
    
{{ .page.Date.Day }} {{ index site.Data.mois (printf "%d" .page.Date.Month) }} {{ .page.Date.Year }}

  </span>
  {{ end }}


<!--
  {{ $taxonomy := "sources" }}
  {{ with $page.Param $taxonomy }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder-open mr-1"></i>
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
      <a href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
    {{- end -}}
  </span>
  {{ end }}
--> 









  {{ $taxonomy := "thematics" }}
  {{ with $page.Param $taxonomy }}
  {{ $pub_tema := partial "functions/get_thematics" $ }}

  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-folder-open mr-1"></i>
    {{- range $index, $value := . -}}
      {{- if gt $index 0 }}, {{ end -}}
      {{ index $pub_tema (int .) }}
    {{- end -}}
  </span>
  {{ end }}




<!--
  {{ if $share }}
    {{ partial "share.html" $page }}
  {{ end }}
--> 

</div>
