{{ $taxonomy := "tags" }}
{{ with .Param $taxonomy }}
<div class="article-tags">

  {{ range $index, $value := . }}
  <a class="badge badge-light" href="{{ (site.GetPage (printf "/%s/%s" $taxonomy (. | urlize))).RelPermalink }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}
