{{- define "main" -}}

<div class="pub">

  {{ partial "page_header_BIS.html" . }}
  
  
  <div class="space-below_TER"></div>

  <div class="article-container">
  

    {{ if .Params.abstract }}
 <!--   <h3>{{ i18n "abstract" }}</h3> --> 
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}





    <div class="article-style">{{ .Content }}</div>
    {{ partial "page_links_div.html" . }} 
    
<div class="space-below_BIS"></div>

    {{ partial "tags.html" . }}
    
<!--    {{ partial "page_author.html" . }} --> 

    {{ partial "comments" . }}

  </div>
</div>

{{ if site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{- end -}}
