{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if $st.Params.hero_media }}
<div class="row">
  {{ if ne $columns "1" }}

      <div class="col-lg-1"> </div>
    <div class="col-12 col-lg-2 section-heading" align="center" style="margin-bottom:50px;">
      
      <div>
      <img src="{{ printf "img/%s" $st.Params.hero_media | relURL }}" width="140" alt=""/>
      </div>

    </div>

      <div class="col-lg-7" align="center">
      
      
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p style="font-size:115%;">{{ . | markdownify | emojify }}</p>{{ end }}
      

      </div>

    <div class="col-12 col-lg-2 section-heading" align="center" style="margin-bottom:50px;">
      
      <div>
      <img src="{{ printf "img/%s" $st.Params.hero_media | relURL }}" width="140" alt=""/>
      </div>

    </div>

      <div class="col-lg-2"> </div>

      <div class="col-lg-9">
      {{ $st.Content }}
      </div>
      <div class="col-lg-1"> </div>

  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}
</div>
 {{ end }}
