{{ $ := .root }}
{{ $st := .page }}




    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    
    
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

    </br>

    {{ $st.Content }}
    
 

