{{ $ := .root }}
{{ $page := .page }}
{{ $bg := $page.Params.design.background }}
{{ $item := $page.Params }}


<div style="{{with $page.Params.height}}{{printf "height: %s;" . | safeCSS}}{{end}};margin-top:0px;">
<div class="row">

<div class="col-12 col-lg-4 section-heading" align="center" style="margin-top:0px;">
<img src="{{ printf "img/%s" $page.Params.logo1 | relURL }}" width="31%" alt="">	  
</div>

<div class="col-12 col-lg-4 section-heading" align="center" style="margin-top:0px;">
<img src="{{ printf "img/%s" $page.Params.logo2 | relURL }}" width="28%" alt="">
</div>

<div class="col-12 col-lg-4 section-heading" align="center" style="margin-top:20px;">
<img src="{{ printf "img/%s" $page.Params.logo3 | relURL }}" width="47%" alt="">  
</div>


</div>
</div>
