{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if $st.Params.hero_media }}
<div class="row">

  {{ if ne $columns "1" }}




 <div class="col-12 col-lg-10"  align="center">
      

      
    </div>

 

 


 </br>


      {{ $st.Content }}

    </div>

    <div class="col-12 col-lg-1"></div>


  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}

</div>

 {{ end }}
