{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if $st.Params.hero_media }}
<div class="row">

  {{ if ne $columns "1" }}


 <div class="col-12 col-lg-1 section-heading"> </div>
 <div class="col-12 col-lg-2 section-heading" align="center" style="margin-top:30px;">
   <div>
   <img src="{{ printf "img/%s" $st.Params.hero_media | relURL }}" width="160" alt=""/>
   </div>
 </div>

 <div class="col-12 col-lg-7"  align="center">
      
<!--  {{ with $st.Title }}<h1 >{{ . | markdownify | emojify }}</h1>{{ end }} -->

     <h1><font style="color:#3f51b5;font-size:110%;">R</font><font style="color:#91b8e3;font-size:120%;">zine</font></h1>
      {{ with $st.Params.subtitle }}<p style="color:#3f51b5;font-size:120%;">{{ . | markdownify | emojify }}</p>{{ end }}

      
    </div>

 
 <div class="col-12 col-lg-2 section-heading" align="right" style="margin-top:30px;">
    <div>
    <img src="{{ printf "img/%s" $st.Params.hero_media2 | relURL }}" width="160" alt=""/>
    </div>

 </div>


 
    <div class="col-12 col-lg-2"></div>

    <div class="col-12 col-lg-9">

 </br>


      {{ $st.Content }}

    </div>

    <div class="col-12 col-lg-1"></div>


  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}

</div>

 {{ end }}
