{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if $st.Params.hero_media }}
<div class="row">
  {{ if ne $columns "1" }}



    <div class="col-12 col-lg-3 section-heading" align="center" style="margin-bottom:50px;">
      
      
      <div>
      <img src="{{ printf "img/%s" $st.Params.hero_media | relURL }}" width="230" alt=""/>
      </div>

    </div>

    <div class="col-12 col-lg-8" align="center">
  
      
     <!--   {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}  -->
     <!--   {{ with $st.Params.subtitle }}<p style="font-size:115%;">{{ . | markdownify | emojify }}</p>{{ end }}  -->
      

     <h1><font style="color:#3f51b5;font-size:140%;">R</font><font style="color:#91b8e3;font-size:140%;">zine.fr</font></h1>
      {{ with $st.Params.subtitle }}<p style="color:#3f51b5;font-size:130%;">{{ . | markdownify | emojify }}</p>{{ end }}

    </div>

    <div class="col-12 col-lg-1"></div>

    <div class="col-12 col-lg-2"></div>

    <div class="col-12 col-lg-10">
      {{ $st.Content }}
    </div>


  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}
</div>

 {{ end }}
