{{ $ := .root }}
{{ $page := .page }}
{{ $hash_id := .hash_id }}

<!-- Indicators -->
<ol class="carousel-indicators">
  {{ range $index, $item := $page.Params.item }}
  <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
  {{ end }}
</ol>

<!-- Carousel slides wrapper -->
<div class="carousel-inner">
  {{ range $index, $item := $page.Params.item }}
  <div class="wg-hero  carousel-item{{if eq $index 0}} active{{end}}" style="{{with $page.Params.height}}{{printf "height: %s;" . | safeCSS}}{{end}}
    {{ if $item.overlay_color }}
    background-color: {{ $item.overlay_color | default "transparent" }};
    {{ end }}
    {{ if $item.overlay_img }}
    background-image:
    {{ if $item.overlay_filter }}linear-gradient(rgba(0, 0, 0, {{ $item.overlay_filter }}), rgba(0, 0, 0, {{ $item.overlay_filter }})), {{ end }}
    url('{{ printf "img/%s" $item.overlay_img | absURL }}');
    {{ end }}
    ;">
    <div class="container" style="text-align: {{$item.align | default "left"}};">
        
		
        
{{ if eq $item.title "Rzine" }}
{{ if $page.Params.hero_media }}
<div class="row">
    
      <div class="col-md-4 mx-auto">

      </br> 
      </br> 
      </br> 

      <img src="{{ printf "img/%s" $page.Params.hero_media | relURL }}" width="450" alt="">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7 text-center text-md-center">


      </br> 
      </br> 
      </br> 


        <h1 class="hero-title2">
          {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
        </h1>

      </br> 

        <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
        {{ with $item.content }}
        {{ . | markdownify | emojify }}
        </p>
        
          </br>          
          </br> 


         <a href="./publication/" class="btn btn-danger"  style="font-size:24px;color:#f7f7f7;">Accéder aux ressources</a>
          

         

         
         {{ end }}
         
      </div>
      

</div>

{{ end }}
{{ end }}



{{ if eq $item.title "Dernières publications" }}


{{ $items_type := "publication" }}
{{ $items_count := 3 }}
{{ $items_sort := "desc" }}

{{/* Query */}}

{{ $query :=  where ( where site.RegularPages "Type" $items_type) ".Params.featured" "!=" true }}



  
{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Limit */}}
{{ $query = first $items_count $query }}


<div class="row">
  <div class="col-12 col-lg-4 section-heading">

        <h1 class="hero-title3">
          {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
        </h1>
        
         
        <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
        {{ with $item.content }}
        {{ . | markdownify | emojify }}
        </p>
        {{ end }}

</br>
</br>





<div  class="inner-div">

{{ $i18n := "" }}
{{ $i18n = "more_publicationsbis" }}
  
<img class="hero_img2" src="/site/img/Rzine_logo.png">

</br>
</br>


    <div class="see-all">
      <a href="./publication_rzine">
        {{ i18n $i18n | default "See all" }}
        <i class="fas fa-angle-right"></i>
      </a>

    </div>

</div>
</div>


   <div class="col-12 col-lg-8"> 
     
   <div style="padding:15px;">

   {{ with $page.Content }}{{ . }}{{ end }}

   {{ range $post := $query }}

        {{ partial "li_compact" . }}

   {{end}}
    
   </div>
  
   </div>

</div>
{{ end }}




{{ if eq $item.title "Derniers référencements" }}


{{ $items_type := "publication" }}
{{ $items_count := 3 }}
{{ $items_sort := "desc" }}

{{/* Query */}}

{{ $query :=  where ( where site.RegularPages "Type" $items_type) ".Params.featured" "==" true }}

  
{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Limit */}}
{{ $query = first $items_count $query }}


<div class="row">
  <div class="col-12 col-lg-4 section-heading">

        <h1 class="hero-title3">
          {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
        </h1>
        
         

        <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
         {{ with $item.content }}
          {{ . | markdownify | emojify }}
        </p>
        {{ end }}

</br>
</br>


<div  class="inner-div">

{{ $i18n := "" }}
{{ $i18n = "more_publications" }}
  
<img class="hero_img2" src="/site/img/rzine_logo_bis.png">

</br>
</br>


    <div class="see-all">
      <a href="./publication/">
        {{ i18n $i18n | default "See all" }}
        <i class="fas fa-angle-right"></i>
      </a>

    </div>

</div>
</div>
 


   <div class="col-12 col-lg-8"> 
     
   <div style="padding:15px;">

   {{ with $page.Content }}{{ . }}{{ end }}

   {{ range $post := $query }}

        {{ partial "li_compact" . }}

   {{end}}
    
   </div>
  
   </div>

</div>
{{ end }}

  
  






{{ if eq $item.title "Actualités" }}


{{ $items_type := "post" }}
{{ $items_count := 3 }}
{{ $items_sort := "desc" }}

{{/* Query */}}

{{ $query :=  where site.RegularPages "Type" $items_type}}

  
{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Limit */}}
{{ $query = first $items_count $query }}


<div class="row">
  <div class="col-12 col-lg-4 section-heading">

        <h1 class="hero-title3">
          {{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}
        </h1>
        
         

        <p class="hero-lead" style="{{if eq $item.align "center"}}margin: 0 auto 0 auto;{{else if eq $item.align "right"}}margin-left: auto; margin-right: 0{{end}}">
         {{ with $item.content }}
          {{ . | markdownify | emojify }}
        </p>
        {{ end }}

</br>
</br>
</br>

<div  class="inner-div">

{{ $i18n := "" }}
{{ $i18n = "more_posts" }}
  
<img class="hero_img2" src="/site/img/Logo_rzine_or.png">

</br>
</br>


    <div class="see-all">
      <a href="./post/">
        {{ i18n $i18n | default "See all" }}
        <i class="fas fa-angle-right"></i>
      </a>

    </div>

</div>
</div>



   <div class="col-12 col-lg-8"> 
     
   <div style="padding:15px;">

   {{ with $page.Content }}{{ . }}{{ end }}

   {{ range $post := $query }}

        {{ partial "li_compact" . }}

   {{end}}
    
   </div>
  
   </div>

</div>
{{ end }}




      </div>   
  </div>
  {{ end }}
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#{{$hash_id}}" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#{{$hash_id}}" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  <span class="sr-only">Next</span>
</a>



