{{ $ := .root }}
{{ $st := .page }}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">

    {{ with $st.Content }}{{ . }}{{ end }}

 <a class="twitter-timeline" data-width="630" data-height="1000" data-theme="dark" href="https://twitter.com/rzine_shs?ref_src=twsrc%5Etfw">Tweets by rzine_shs</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
 

  </div>
</div>


 
