{{ $ := .root }}
{{ $page := .page }}
{{ $bg := $page.Params.design.background }}
{{ $item := $page.Params }}


  <div class="wg-welcome" style="{{with $page.Params.height}}{{printf "height: %s;" . | safeCSS}}{{end}};">
    <div class="container">

{{ if $page.Params.hero_media }}
<div class="row">



 <div class="col-md-4 mx-auto">
{{ end }}

     



      <img src="{{ printf "img/%s" $page.Params.hero_media | relURL }}" width="83%" alt="">
	  
	  
	   </br>  
	  
      </div>

      <div class="col-md-8 text-center text-md-center">


        <h1><font style="color:#2c5e9b;font-size:125%;">R</font><font style="color:#bfd5ef;font-size:128%;">zine</font></h1>
        
		<!-- <h1 class="welcome-title2">
          {{ with $page.Title }}{{ . | markdownify }}{{ end }}
        </h1> -->
  
		   
		<p class="welcome-lead2">
		{{ with $item.content }}{{ . }}{{ end }}    
        </p>
      

         
      </div>

</div>
</div>
</div>
