{{/* Author profile page. */}}

{{- define "main" -}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
  <div class="row">
  <div class="col-md-5">


    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "widgets/about.html" }}
      {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "root" $ "page" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

  </div>

  <div class="col-md-7">

    <!-- {{ $query := where .Pages ".IsNode" false  }} -->
    {{ $query := where .Pages "Type" "ressources"  }}



    {{ $count := len $query }}
    {{ if $count }}

      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
      <ul>
        {{ range $query }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>

    {{ end }}
      </div>
  </div>
    </div>
</section>

{{- end -}}
